@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
    --color-prism-purple: #2D205C;
  --color-prism-purple-dark: #24174A;
  --color-prism-teal: #45C6B8;
  --color-prism-teal-soft: #7CD7CD;
  --color-prism-pink: #F298AB;
  --color-prism-bg: #F2F2F2;
  --color-prism-card: #FFFFFF;
  --color-prism-border: #E5E7EB;
  --color-prism-text: #111827;
  --color-prism-muted: #6B7280;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-white text-prism-text antialiased;
}

